@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background: linear-gradient(
      180deg,
      rgba(242, 233, 233, 0.46) 0%,
      rgba(0, 0, 0, 0.46) 100%
    ),
    radial-gradient(271.03% 168.04% at 25.54% 47.73%, #2f5d5b 0%, #340e4b 100%),
    radial-gradient(
      193.07% 186.99% at 68.64% 58.98%,
      #8796ae 0%,
      #385176 0.01%,
      #22085a 67.84%,
      #21173e 100%
    );
  background-blend-mode: multiply, overlay, normal;
}

.light {
  background: linear-gradient(
      180deg,
      rgba(230, 230, 230, 0.46) 0%,
      rgba(242, 242, 242, 0.46) 100%
    ),
    radial-gradient(271.03% 168.04% at 25.54% 47.73%, #f4f5f5 0%, #340e4b 100%),
    radial-gradient(
      193.07% 186.99% at 68.64% 58.98%,
      #fcfdff 0%,
      #385176 0.01%,
      #22085a 67.84%,
      #21173e 100%
    );
  background-blend-mode: multiply, overlay, normal;
}
